{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Thema: Konzeption und prototypische Umsetzung eines kooperativen und kollaborativen Online‐Quizsystems</h1>
<p>
    Ziel der Fallstudie ist die Konzeption und prototypische Umsetzung eines Online‐Quizsystems, das Studierende des Fernstudiums der IUBH bei der Festigung der Lerninhalte zur Vorbereitung auf die Klausur unterstützt.
</p>
<p>
    Das zu konzipierende System soll es Studierenden ermöglichen, kooperativ und kollaborativ Antworten zu fachlichen Fragen zu finden. Das miteinander bzw. das gemeinsame Spielen/Erarbeiten steht dabei besonders im Fokus. Ähnlich wie bei der populären App Quizduell kann, jedoch muss nicht gegeneinander gespielt werden. Kooperative Spielmodelle sollten explizit auch mit einbezogen werden.
</p>
<p>
    Das System soll per Internet‐Browser bedient werden können. Die Erstellung und das Einpflegen der zu lösenden Aufgaben/Fragen inkl. richtiger Lösungen und ggf. Begründungen für falsche Lösungen soll ebenfalls berücksichtigt werden. Der Fragenkatalog soll kooperativ von allen Interessierten erstellt und gepflegt werden können.
</p>
<p>
    Neben der Konzeption soll die grundsätzliche Einsatzfähigkeit der prototypischen Umsetzung demonstriert und für den Praxiseinsatz geeignet dokumentiert werden. Dabei sind insbesondere auch die Anforderungen bzw. Voraussetzungen an die Infrastruktur zur Gewährleistung des kontinuierlichen Betriebs erforderlich.
</p>
<p>
    [Auszug aus ISEF01 Projektthemen]
</p>
</div>
{% endblock %}