{% extends "layout.html" %}
{% block content %}
<div class="col-md-7 col-lg-4">
    <form method="post" id="questions_add">
        <label class="form-label" for="">
            Studiengang:
            <span class="text-muted">(Pflichtfeld)</span>
        </label>
        <select class="form-select" aria-label="Default select example" required="" disabled>
            <option selected>Studiengang auswählen</option>
            <!--Hier muss dann noch die liste der Studiengänge eingetragen werden-->
            <option value="1">One</option>
        </select>
        <br>
        <label class="form-label" for="">
            Modul:
            <span class="text-muted">(Pflichtfeld)</span>
        </label>
        <select class="form-select" aria-label="Default select example" required="">
            <option selected>Kurs auswählen</option>
            <!--Hier muss dann noch die liste der kurse eingetragen werden-->
            <option value="1">One</option>
        </select>
        <br>
        <label class="form-label" for="">
            Kapitel:
            <span class="text-muted">(Pflichtfeld)</span>
        </label>
        <select class="form-select" aria-label="Default select example" required="">
            <option selected>Kapitel auswählen</option>
            <!--Hier muss dann noch die liste der Kapitel eingetragen werden-->
            <option value="1">One</option>
        </select>
        <br>
        <div class="">    
            <label class="form-label" for="">
                Frage:
                <span class="text-muted">(Pflichtfeld)</span>
                <textarea class="form-control" id="question" rows="3" required=""></textarea>
            </label>
        </div> 
        <div class="row g-3">
            <div class="col">    
                <label class="form-label" for="">
                    Korrekte Antwort:
                    <span class="text-muted">(Pflichtfeld)</span>
                    <textarea class="form-control" id="question" rows="3" required=""></textarea>
                </label>
            </div>  
            <div class="col">    
                <label class="form-label" for="">
                    Falsche Antwort 1:
                    <span class="text-muted">(Pflichtfeld)</span>
                    <textarea class="form-control" id="question" rows="3" required=""></textarea>
                </label>
            </div>    
        </div>  
        <div class="row g-3">
            <div class ="col">    
                <label class="form-label" for="">
                    Falsche Antwort 2:
                    <span class="text-muted">(Pflichtfeld)</span>
                    <textarea class="form-control" id="question" rows="3" required=""></textarea>
                </label>
            </div>  
            <div class="col">    
                <label class="form-label" for="">
                    Falsche Antwort 3:
                    <span class="text-muted">(Pflichtfeld)</span>
                    <textarea class="form-control" id="question" rows="3" required=""></textarea>
                </label>
            </div> 
            <div class="">    
                <label class="form-label" for="">
                    Hinweis zur Antwort:
                    <span class="text-muted">(Optional)</span>
                    <textarea class="form-control" id="question" rows="3" required="" disabled></textarea>
                </label>
            </div>  
        </div>  
        <br>
        <div class="row g-3">
            <div class="col">
                <button class="w-1000 btn btn-primary btn-lg" type="submit">Speichern</button> 
            </div>
            <div class="col">
                <button class="w-1000 btn btn-primary btn-lg" type="button">Abbrechen</button> 
            </div>
            <div class="col">
                <button class="w-1000 btn btn-primary btn-lg" type="reset">Textfelder löschen</button> 
            </div>
        </div>
    </form>
</div>

{% endblock %}