{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form method="post" id="questions_add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label class="form-label" for="studiengang" style="width: 20%">Studiengang:</label>
        {{ addquestions.course }}
        <p></p>
        <label class="form-label" for="id" style="width: 20%">Kurskürzel:</label>
        {{ addquestions.id }}
        <p></p>
        <label class="form-label" for="kapitel" style="width: 20%">Kapitel:</label>
        {{ addquestions.chapter }}
        <p></p>
        <label class="form-label" for="question" style="width: 20%">Frage:</label>
        {{ addquestions.question }}
        <span class="text-muted">(Pflichtfeld)</span>
        <p></p>
        <label class="form-label" for="answer_one" style="width: 20%">Korrekte Antwort:</label>
        {{ addquestions.answer_one }}
        <span class="text-muted">(Pflichtfeld)</span>
        <p></p>
        <label class="form-label" for="answer_two" style="width: 20%">Falsche Antwort 1:</label>
        {{ addquestions.answer_two }}
        <span class="text-muted">(Pflichtfeld)</span>
        <p></p>
        <label class="form-label" for="answer_three" style="width: 20%">Falsche Antwort 2:</label>
        {{ addquestions.answer_three }}
        <span class="text-muted">(Pflichtfeld)</span>
        <p></p>
        <label class="form-label" for="answer_four" style="width: 20%">Falsche Antwort 3:</label>
        {{ addquestions.answer_four }}
        <span class="text-muted">(Pflichtfeld)</span>
        <p></p>
        <label class="form-label" for="hint" style="width: 20%">Hinweis zur Antwort:</label>
        {{ addquestions.hint }}
        <span class="text-muted">(Optional)</span>
        <p></p>
        <input type=submit class="btn btn-primary" name='speichern' value='Speichern'>
        <a href="dashboard" class="btn btn-primary">Abbrechen</a>
        <a href="add_questions" class="btn btn-primary">Textfelder löschen</a>
    </form>
</div>
{% endblock %}