{% extends "layout.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
    <h4>Modulnamen anpassen</h4>
    <form method=post id="edit_modules">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
            <label class="form-label" for="id" style="width: 20%">Modul auswählen: </label> {{ editmodule.module_name_old }} <p></p>
            <label class="form-label" for="role" style="width: 20%">Modulnamen ändern in: </label> {{ editmodule.module_name_new }}
        
        <p></p>
        <input type=submit class="btn btn-primary" name='speichern' value='Speichern'>
        <a href="dashboard" class="btn btn-primary">Abbrechen</a>
    </form>
</div>
{% endblock %}