{% extends "layout.html" %}
{% block content %}
<main class="px-5">
    <div class="text-center">
        <h1>Herzlich Willkomen, {{userinfo['name']}}</h1>
        <p class="lead">
            wir hoffen, dass du viel Spaß an unserer Webapp hast.
        </br>Hier bekommst du eine Übersicht, was du wo findest.
        </p>
    </div>
    <h2>Übersicht:</h2>
    <ul>
        <li>Spielen</li>
        <ul>
            <li>Singleplayer</li>
            <p>Einzelspieler Spiel ohne Gegner.</p>
            <li>Multiplayer</li>
            <p>Mehrspieler Spiel gegen Spieler aus der Community</p>
        </ul>
        <li>Dashboard</li>
        <p>Übersicht von nützlichen User Infos</p>
        <li>Highscore</li>
        <p>Sehe deinen Score im Vergleich zu den anderen Spielern</p>
    </ul>

</main>
{% endblock %}
