{% extends "layout.html" %}
{% block content %}

<!--<div class="container">Index Startseite</div>-->
<div class ="bg-image text-center text-white"
style="background-image: url('/static/bear-gae3012cc3_1280.jpg');
height: 854px;
width: 1280px;
">  
    <main class="px-5">
        <h1>Willkomen bei Brainbear</h1>
        <p class="lead">
            Dies ist ein Prototyp für die Projektarbeit in dem Fach ISEF01,<br/> hier soll eine Quiz als Web App entstehen. Wir wünschen viel Spaß!
        </p>
    </main>
</div>   
{% endblock %}