{% extends "layout.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
    <h4>Userverwaltung</h4>
    <table border=3 style="width:100%" aria-describedby="overview users">
        <caption>Tabelle: Übersicht User, Rollen und IDs</caption>
        <thead>
            <th>Username</th>
            <th>ID</th>
            <th>Rolle</th>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row["username"]}}</td>
                    <td>{{row["id"]}}</td>
                    <td>{{row["role"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    <p></p>
    <h4>Berechtigung festlegen</h4>
    <form method=post id="list">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
            <label class="form-label" for="id" style="width: 5%">ID: </label> {{ roleupdate.id }} <p></p>
            <label class="form-label" for="role" style="width: 5%">Rolle: </label> {{ roleupdate.role }}
        
        <p></p>
        <input type=submit class="btn btn-outline-primary" name='speichern' value='Speichern'>
        <a href="dashboard" class="btn btn-outline-primary">Zurück</a>
    </form>
</div>
{% endblock %}