{% extends "layout.html" %}
{% block content %}
<div class="container">
<!doctype html>
<html>
   <body>
   
      <table border=3 rules=rows style="width:50%">
         <thead>
             <th>Username</th>
             <th>ID</th>
             <th>Role</th>
          <tbody>
              {% for row in rows %}
              <tr>
                  <td>{{row["username"]}}</td>
                  <td>{{row["id"]}}</td>
                  <td>{{row["role"]}}</td>
              </tr>
            {% endfor %}

            </tbody>
         </thead>
      
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
</div>
{% endblock %}